/* Space to setup configversion */
/* configversion: 2ecca20b604bc0b37d13aba5a0fabc07 */
window {
    margin: 2px;
    border: 0px solid #005577;
    background-color: rgba(68, 68, 68, 0.9);
    font-family: Sxmo;
	font-size: 14pt;
	font-weight: 600;
}

#input {
    margin: 0px;
    border: 1px solid #67223c;
    background-color: #555555;
    color: #ff0052;
}

#inner-box {
    margin: 2px;
}

#outer-box {
    margin: 0px;
}

#scroll {
    color: yellow;
}

#text {
    margin: 0px;
    color: #ff0052;
} 

#img {
    padding-right: 5px;
}
#entry {
    padding-top: 0px;
}
#entry:selected {
    background-color: #005577;
}
#entry #entry {
    background-color: #444444;
}
